<div>
    <label>Date</label>
    <input type="date" name="workoutDate"
        value="<%= logWorkout.date %>">
        
</div>
<div>
    <label>BodyPart(s)</label>
    <input type="text" name="bodyPart" value="<%= logWorkout.bodyPart %>">
</div>
<div>
    <label>Training Goal</label>
    <input type="text" name="trainingGoal" value="<%= logWorkout.goal %>">
</div>
