<h2>Workout app</h2>
<nav>
    <a href="/">Home</a>
    <ul>
        <li><a href="/logworkout">View previous workouts</a></li>
        <li><a href="/logworkout/new">Add workouts</a></li>
        <li><a href="/exercise">View exercises</a></li>
        <li><a href="/exercise/new">Add exercise to workout</a></li>
    </ul>
</nav>