Additional sets to input

<label>Sets</label>
<input type="number" name="sets" value="<%= exercise.sets %>">
</div>

<!-- if statement to go through set number and log reps for set -->

<div>
<label>Reps</label>
<input type="number" name="reps" value="<%= exercise.reps %>">
</div>

<div>
<label>Weight</label>
<input type="number" name="weight" value="<%= exercise.weight %>">
</div>
<div>