Sets

<form action="/exercise" method="post">
    <%- include('_additional_sets.ejs') %>
    <a href="/exercise">Cancel</a>
    <p><%= exercise.id %></p>
    <button type="submit">Add Exercise</button>
</form>